h1 {
  text-align: center;
}
.red {
 color: red;
}
.green {
color: green;
}
.blue {
color: blue;
}
body {
  background-color: tan;
}
.well {
    background-color: rgba(255,255,255, 0.6);
}
img {
  height: 400px;
  width: 100%;
}
.filter {
  text-align: center;
}
